{% extends 'grievance/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
{% include 'grievance/adminsidebar.html' %}
<div class="content"><br>
    <div class="card">
        <h3 style="font-weight: bold;padding-bottom: 15px;border-bottom: 2px solid red ;text-align: center;">Detailed View</h3><br>
        <div class="row">
            <div class="col-12 col-md-6"><p ><span style="font-weight: bold;">Title: </span>{{complain.complain_heading}}.</p></div>
            <div class="col-12 col-md-6"><p class=""><span style="font-weight: bold;">Date posted: </span>{{complain.date_posted|date:"M d, Y"}}.</p></div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6"><p ><span style="font-weight: bold;">To College: </span>{{complain.college}}.</p></div>
            <div class="col-12 col-md-6"><p class=""><span style="font-weight: bold;">Related to: </span>{{complain.related_to}}.</p></div>
        </div>
        <div class="row">
            <div class=" col-md-6 col-12"><p ><span style="font-weight: bold;">Branch: </span>{{complain.branch}}.</p></div>
            <div class="col-md-6 col-12"><p class=""><span style="font-weight: bold;">Status: </span>{{complain.status}}.</p></div>
        </div>
        <div class="row" style="">
            <div class=" col-12"><p ><span style="font-weight: bold;">Complain: </span>{{complain.complain_content}}.</p></div>
            
        </div><br>
        <div class="" style="border-bottom: 1px solid lightgray;"></div><br>
        <div class="row">
        <div class="col-12 " style=""><p ><span style="font-weight: bold;">Response: </span><span>
            {% if complain.response %}
             {{complain.response}}
            {% else %}
            No response yet.
            {% endif %}
        </span>
        </p>
        </div>
    </div>

    </div><br>
    {% if complain.status == 'Viewed' or complain.status == 'In Progress' %}
    <div class="card">
        <h4 style="font-weight: bold;padding-bottom: 15px;border-bottom: 2px solid red ;text-align: center;">Change Status and Response</h4><br>
        <form method='POST' >
            {% csrf_token %}
            {{form|crispy}}
            {% if user.username == 'demoadmin' %}<a href='#' class='btn btn-danger'>Change Status</a>{% else %}<button type="submit" class="btn btn-danger"  >Change Status</button>{% endif %}
        </form>
    </div><br>

    {% endif %}
</div>
{% endblock %}