{% extends 'grievance/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
{% include 'grievance/adminsidebar.html' %}
<div class="content">
    <h3 class='animated animatedFadeInUp fadeInUp' style="animation-delay: 0.3s;margin-top: 20px;font-weight: bold;">Edit Your Profile</h3>
    <div class='animated animatedFadeInUp fadeInUp' style='animation-delay: 0.3s;border-bottom: 3px solid red;margin-bottom: 20px;width: 40%;'></div>
         <form method="POST" class='animated animatedFadeInUp fadeInUp' style='animation-delay: 0.5s;'>
             {% csrf_token %}
             {{form1|crispy}}
             {{form2|crispy}}
         <button type="submit" class="btn btn-danger">Update Profile</button> 
      </form>
 </div>
{% endblock content %}
