{% extends 'grievance/base.html' %}
{% load crispy_forms_tags %}
{% block content %}

{% if user.admin.designation %}
{% include 'grievance/adminsidebar.html' %}
{% else %}
{% include 'grievance/studentsidebar.html' %}
{% endif %}

<div class="content">
        
        <h3 class='animated animatedFadeInUp fadeInUp' style="animation-delay: 0.3s;margin-top: 20px;font-weight: bold">Change Password</h2>
        <div class='animated animatedFadeInUp fadeInUp' style='animation-delay: 0.3s;border-bottom: 3px solid {% if user.admin.designation %}red{% else %}rgb(57, 120, 255){% endif %};margin-bottom: 40px;width: 40%;'></div>
        <form class='animated animatedFadeInUp fadeInUp' style="animation-delay: 0.5s" method="POST">
            {% csrf_token %}
            {{form|crispy}}
        <button type="submit" class="btn btn-{% if user.admin.designation %}danger{% else %}primary{% endif %}">Change Password</button>
    </form>
</div>
{% endblock content %}