{% extends 'grievance/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
        <div class="container" style="margin-top: 50px;">
            <div class="row justify-content-center">
                <div class="col-12 col-md-8">
                <div class="" style="padding: 20px;background-color: whitesmoke;margin-top: 10%;border-radius: 10px;;text-align: center;border: 1px solid lightgray">
                    <div style="padding: 10px;">
                    <h2 style="padding: 20px;font-weight: bold;border-bottom: 2px solid royalblue;">Reset Password</h2><br>
                    <form method="POST">
         
                 <div style="text-align: left;">
                {% csrf_token%}
                {{form|crispy}}<br>
                <div class='form-group'>
            <button class='btn btn-primary mb-2' type='submit'>Request Password Reset</button></div>
        </div>
        </form>
        </div>
        </div>
        </div>
{% endblock content %}


<div class="" style="padding: 20px;background-color: whitesmoke;margin-top: 10%;border-radius: 10px;;text-align: center;border: 1px solid lightgray">
    <div style="padding: 10px;">
  <h2 style="padding: 20px;font-weight: bold;border-bottom: 2px solid royalblue;">Student Login:</h2><br>
       <form method="POST">
         
         <div style="text-align: left;">
         {% csrf_token %}
         {{form|crispy}}
         <a href='{% url 'password_reset' %}'>Forgot your Password?</a><br>
     </div><br>
         <button type="submit" class="btn btn-primary" >Login</button><br>  <br>
     </form>
     <small class='text-muted'>Don't have an acoount? You can create one in just few steps.</small> <a href={% url "studentRegister" %}>Create Account</a>
    </div>
</div>