{% extends 'grievance/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<style>
.alert-custom{
  background-color: lightgray;
  color:black;
    }
    
body{
      background-image: url('/static/grievance/images/back5.jpg')
    }    
</style>    


<div class="container">
    <h5 style="text-align: center;">Complete your profile. This step is mandatory.</h5>
    <div class="col-md-6 col-md-offset-3" style="text-align: center;font-family: Perpetua;">
        {% if messages %}
        {% for x in messages %}
                <div class="alert alert-custom  fade in alert-dismissable show" style="margin-top:18px;font-size: 20px; letter-spacing: 0.5px">
                 <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true" style="font-size:20px">×</span>
                  </button><center>{{x}}</center>
                </div>
         {% endfor %}
         {% endif %}
<div class="card" >
  <h3 style="font-weight: bold;padding-bottom: 15px;border-bottom: 2px solid royalblue ;text-align: center;">Complete Profile</h3>     
    <form method="POST">
        <div style="text-align: left;">
        {% csrf_token %}
        {{form|crispy}}
    </div>
        <button type="submit" class="button button2" style="background-color:royalblue;">Submit</button><br><br>
    </form>
   
</div>
</div>
{% endblock %}