{% extends 'grievance/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
{% include 'grievance/studentsidebar.html' %}
 <div class="content">
   <h3 class='animated animatedFadeInUp fadeInUp' style="animation-delay: 0.3s;margin-top: 20px;font-weight: bold;">Edit Your Profile</h3>
   <div class='animated animatedFadeInUp fadeInUp' style='animation-delay: 0.3s;border-bottom: 3px solid rgb(57, 120, 255);margin-bottom: 40px;width: 40%;'></div>
        <form method="POST" class='animated animatedFadeInUp fadeInUp' style='animation-delay: 0.5s;'>
            {% csrf_token %}
            {{form1|crispy}}
            {{form2|crispy}}
            {% if user.username == 'demostudent' %}<a href='#' class='btn btn-primary'>Update Profile</a>{% else %}<button type="submit" class="btn btn-primary">Update Profile</button>{% endif %} <a href={% url 'studentProfileView' %} class='btn btn-primary ml-2'>Cancel</a> 
     </form>
</div>
{% endblock content %}
